* {
  color: #fff;
  margin: 0;
  padding: 0;
}
.join {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.content {
  margin-left: -6%;
}
button {
  padding: 26px 72px;
  border: none;
  background-color: var(--danger-color);
  margin-left: 59px;
  color: #ffffff;
  a {
    color: black;
    font-size: 24px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
  }
}
